<div class="card mt-5">
  <p-table
    #table
    [value]="employees"
    [resizableColumns]="true"
    [loading]="loading"
    [scrollable]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    [globalFilterFields]="['firstName', 'lastName']"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-button icon="pi pi-plus" label="Add Employee" (onClick)="openCreateEmployee()"></p-button>
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            (input)="onGlobFilter(table, $event)"
            placeholder="FirstName or LastName" />
        </p-iconField>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        @for (col of cols; track $index){
          @if(col.field ==='imageURL'){
            <th pFrozenColumn>{{col.header}}</th>
          }@else{
            <th pSortableColumn="{{col.field}}">
              {{col.header}}
              <p-sortIcon field="{{col.field}}" />
            </th>
          }
        }
        <th alignFrozen="right" pFrozenColumn></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>
      <tr>
        @for (col of cols; track $index){
          @if(col.field ==='imageURL'){
            <td pFrozenColumn>
              <p-avatar
                [image]="employee.imageURL"
                styleClass="mr-2"
                size="xlarge"
                shape="circle" />
            </td>
          } @else if (col.field ==='gender'){
            <td>
              {{employee.gender==='men'? 'Mr.': 'Mrs.'}}
            </td>
          } @else if (col.field === 'onVacation'){
            <td>
              @if(employee.onVacation){
                <p-tag severity="danger" value="Not available" [rounded]="true" />
              } @else {
                <p-tag severity="success" value="Available" [rounded]="true" />
              }
            </td>
          } @else if (col.field === 'dateOfBirth'){
            <td>
              {{employee.dateOfBirth | age}} years old
            </td>
          }
          @else {
            <td>
              {{employee[col.field]}}
            </td>

          }
        }
        <td alignFrozen="right" pFrozenColumn>
          <div class="flex align-items-center justify-content-center gap-2">
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-pencil"
              class="p-button-rounded p-button-text">
            </button>
            <button
              pButton
              pRipple
              type="button"
              icon="pi pi-trash"
              severity="danger"
              class="p-button-rounded p-button-text">
            </button>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No Employees found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
    [header]="dialogTitle"
    [modal]="true"
    [(visible)]="showDialog" [style]="{width:'50vw'}"
>
  <p-divider align="left"><b>Personal Informations</b></p-divider>
  <div class="grid">
    <div class="col-12">
      <label class="mb-2">Gender</label>
      <p-dropdown [options]="['men','women']"> </p-dropdown>

    </div>
  </div>

  <div class="col-12 md:col-6">
    <div class="flex flex-column">
      <label class="mb-2">FirstName</label>
      <input pInputText/>
    </div>
  </div>

  <div class="col-12 md:col-6">
    <div class="flex flex-column">
      <label class="mb-2">LastName</label>
      <input pInputText/>
    </div>
  </div>

  <p-divider align="left"> <b>Other Informations</b></p-divider>
  <div class="grid">
    <div class="col-12">
      <div class="flex flex-column">
        <label class="mb-2">On Vacation</label>
        <p-inputSwitch ></p-inputSwitch>
      </div>
    </div>
  </div>

  <div class="flex justify-content-end gap-2">
    <p-button label="Cancel" severity="secondary" (onClick)="showDialog = false" />
    <p-button label="Save" (onClick)="showDialog = false" />
  </div>


</p-dialog>
