<div class="card mt-5">
  <p-table
    #table
    [value]="employees"
    [resizableColumns]="true"
    [loading]="loading"
    [scrollable]="true"
    [tableStyle]="{ 'min-width': '50rem' }"
    [globalFilterFields]="['firstName', 'lastName']"
  >
    <ng-template pTemplate="caption">
      <div class="flex">
        <p-button icon="pi pi-plus" label="Add Employee" (onClick)="openCreateEmployee()"></p-button>
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon>
            <i class="pi pi-search"></i>
          </p-inputIcon>
          <input
            pInputText
            type="text"
            (input)="onGlobFilter(table, $event)"
            placeholder="FirstName or LastName" />
        </p-iconField>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        @for (col of cols; track $index){
          @if(col.field ==='imageURL'){
            <th pFrozenColumn>{{col.header}}</th>
          }@else{
            <th pSortableColumn="{{col.field}}">
              {{col.header}}
              <p-sortIcon field="{{col.field}}" />
            </th>
          }
        }
        <th alignFrozen="right" pFrozenColumn></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>
      <tr>
        @for (col of cols; track $index){
          @if(col.field ==='imageURL'){
            <td pFrozenColumn>
              <p-avatar
                [image]="employee.imageURL"
                styleClass="mr-2"
                size="xlarge"
                shape="circle" />
            </td>
          } @else if (col.field ==='gender'){
            <td>
              {{employee.gender==='men'? 'Mr.': 'Mrs.'}}
            </td>
          } @else if (col.field === 'onVacation'){
            <td>
              @if(employee.onVacation){
                <p-tag severity="danger" value="Not available" [rounded]="true" />
              } @else {
                <p-tag severity="success" value="Available" [rounded]="true" />
              }
            </td>
          } @else if (col.field === 'dateOfBirth'){
            <td>
              {{employee.dateOfBirth | age}} years old
            </td>
          }
          @else {
            <td>
              {{employee[col.field]}}
            </td>

          }

        }
        <td alignFrozen="right" pFrozenColumn>
          <app-edit-delete (onEdit)="showEditDialog($event)" (onDelete)="delete($event)"[employeeProp]="employee"></app-edit-delete>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No Employees found.</td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [header]="dialogTitle"
  [modal]="true"
  [(visible)]="showDialog" [style]="{ width: '50vw' }"
>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">

    <p-divider align="left" type="solid"> <b>Personal Information</b></p-divider>
    <div class="grid">
      <div class="col-12">
        <div class="flex flex-column">
          <label class="mb-2 required-asterisk" for="gender">Gender</label>
          <p-dropdown  formControlName="gender" optionValue="value" id="gender" [options]="genderOptions" optionLabel="label" placeholder="Select gender"></p-dropdown>
          <small geek-error-messages control="gender" class="p-error"></small>
        </div>
      </div>

      <div class="col-12 md:col-6">
        <div class="flex flex-column">
          <label class="mb-2 required-asterisk" for="firstName">FirstName</label>
          <input pInputText formControlName="firstName" id="firstName"  />
          <small geek-error-messages control="firstName" class="p-error"></small>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="flex flex-column">
          <label class="mb-2 required-asterisk" for="lastName">LastName</label>
          <input formControlName="lastName" pInputText id="lastName"  />
          <small geek-error-messages control="lastName" class="p-error"></small>
        </div>
      </div>

      <div class="col-12 md:col-6">
        <div class="flex flex-column">
          <label class="mb-2 required-asterisk" for="email">Email</label>
          <input pInputText formControlName="email" id="email" />
          <small geek-error-messages control="email" class="p-error"></small>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="flex flex-column">
          <label class="mb-2 required-asterisk" for="dateOfBirth">Date of Birth</label>
          <input type="date" pInputText formControlName="dateOfBirth" id="dateOfBirth" />
          <small geek-error-messages control="dateOfBirth" class="p-error"></small>
        </div>
      </div>

      <div class="col-12 md:col-6">
        <div class="flex flex-column">
          <label class="mb-2 required-asterisk" for="position">Position</label>
          <p-dropdown (onChange)="getSuperiorByPosition()" formControlName="position" optionValue="value" id="position" [options]="positionOptions" optionLabel="label" placeholder="Select position"></p-dropdown>
          <small geek-error-messages control="position" class="p-error"></small>
        </div>
      </div>

      @if((superiorByPosition$ | async); as superiors ){
            @if(superiors.length>0){
              <div class="col-12 md:col-6">
                <div class="flex flex-column">
                  <label class="mb-2 required-asterisk" for="superiorId">Superior</label>
                  <p-dropdown formControlName="superiorId" optionLabel="name" optionValue="id" id="superiorId" [options]="superiors"  placeholder="Select the superior"></p-dropdown>

                </div>
              </div>
            }
      }
    </div>

    <p-divider align="left" type="solid"> <b>Other Information</b></p-divider>
    <div class="grid">
      <div class="col-12 md:col-6">
        <div class="flex flex-column">
          <label class="mb-2 required-asterisk" for="city">City</label>
          <input pInputText formControlName="city" id="city" />
          <small geek-error-messages control="city" class="p-error"></small>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="flex flex-column">
          <label class="mb-2 required-asterisk" for="country">Country</label>
          <input pInputText formControlName="country" id="country" />
          <small geek-error-messages control="country" class="p-error"></small>
        </div>
      </div>

      <div class="col-12 md:col-6">
        <div class="flex flex-column">
          <label class="mb-2 required-asterisk" for="phone">Phone</label>
          <input pInputText formControlName="phone" id="phone" />
          <small geek-error-messages control="phone" class="p-error"></small>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="flex flex-column">
          <label class="mb-2 required-asterisk" for="remainingVacationDays">Remaining Vacation Days</label>
          <input type="number" pInputText formControlName="remainingVacationDays" id="remainingVacationDays" min="0" />
          <small geek-error-messages control="remainingVacationDays" class="p-error"></small>
        </div>
      </div>

      <div class="col-12 md:col-6">
        <div class="flex flex-column">
          <label class="mb-2 required-asterisk" for="onVacation">On Vacation</label>
          <p-inputSwitch formControlName="onVacation" id="onVacation"></p-inputSwitch>
          <small geek-error-messages control="onVacation" class="p-error"></small>
        </div>
      </div>
    </div>
    <p-divider></p-divider>

    <div class="flex justify-content-end gap-2">
      <p-button label="Save" type="submit" />
    </div>
  </form>
</p-dialog>
